/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenitor{
  display: flex;
}

.d-flex{
  display: flex;
}

.ml-15{
  margin-left: 15px;
}

.mr-15{
  margin-right: 15px;
}

.avatar{
  height: 40px;
  margin-left: 15px;
  background-color: #aebece;
  border-radius: 50%;
}

.d-none{
  display: none;
}

.active{
  display: block;
}

/* /general rules */

/* left side */
#left-side{
  width: 30%;
  height: 100vh;
  background-color: #fff;
  border-right: 1.5px solid #e4e4e4;
}

.nav{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
}

.nav img{
  cursor: pointer;
}

.notification{
  width: 100%;
  min-height: 90px;
  background-color: #9de1fe;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#bell{
  margin: 5px 0 5px 15px;
  padding: 20px;
  color: #9de1fe;
  border-radius: 50%;
  background-color: #fff;
}

.notification p,
.notification a{
  padding-bottom: 5px;
}

.notification a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.notification a:hover{
  text-decoration: underline;
}

.search-container{
  height: 35px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.search-box{
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.search-bar{
  width: 100%;
  margin: 0 5px;
  border: 0;
}

.search-bar:focus{
  outline: none;
}

/* friend list */
.list{
  height: calc(100vh - 185px);
  min-height: 300px;
  overflow-y: scroll;
  background-color: #fff;
}

.info-chat{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

.info-chat:hover{
  cursor: pointer;
  background-color: #e4e4e48c;
}



/* right side */
#right-side{
  width: 70%;
  height: 100vh;
}

.name-user{
  font-size: 1.5em;
  cursor: pointer;
}

.last-seen{
  font-size: 1em;
  color: #a9a9a9;
  cursor: pointer;
}


/* chat */
.chat{
  height: calc(100vh - 120px);
  min-height: 365px;
  background: url(https://web.whatsapp.com/img/bg-chat-tile_8a055527b27b887521a9f084497d8879.png) #e5ddd5;
  overflow-y: scroll;
}

.user-sms{
  text-align: end;
  width: 100%;
}

.user-sms-sent{
  min-width: 90px;
  max-width: 50%;
  word-break: break-all;
  position: relative;
  display: inline-block;
  padding: 8px;
  margin: 20px 30px;
  background-color: chartreuse;
}

.text{
  text-align: start;
  padding-right: 5px;
}

.time{
  text-align: end;
  font-size: 0.8em;
}

.dropdown{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  opacity: 0;
}

.dropdown-item{
  background-color: white;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px;
  height: 30px;
  display: none;
}

.pc-sms{
  text-align: start;
  width: 100%;
}

.pc-sms-sent{
  min-width: 90px;
  max-width: 50%;
  word-break: break-all;
  position: relative;
  display: inline-block;
  padding: 8px;
  margin: 20px 30px;
  background-color: #fff;
}



.user-sms-sent:hover .dropdown,
.pc-sms-sent:hover .dropdown{
  opacity: 1;
}


/* footer */
.footer{
  height: 60px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer input{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  border: 0;
  border-radius: 5px;
}

.footer input:focus{
  outline: none;
}

.footer img:hover,
.footer i:hover{
  cursor: pointer;
}

/* template */
.template{
  display: none;
}